@model Getha_Project.WebSite.Models.Home.GraficoModel;
@{
    ViewData["Title"] = "Getha Desenvolvimento e Consultoria Contabil";
}

<div>
    <h1 style="text-align: center">Página Inicial</h1> 
    <section style="border: 1px solid red; width: 100%; height: 750px; text-align: center; margin-bottom: 50px;">
        <img src="~/image/imag2.jpg" width="100%" height="700px" />

    </section>
    <hr style="width: 80%; text-align: center;" />
    <section style="border: 1px solid blue; width: 100%; height: 500px; text-align: center;">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a magna non libero consectetur viverra sed in sem. Nunc ut pretium ante. Vivamus interdum, neque a fringilla convallis, felis tortor egestas libero, rhoncus facilisis velit dolor in urna. Maecenas scelerisque, ex eget porttitor sodales, nibh magna ullamcorper tortor, sed vehicula massa velit non ante. Fusce sit amet dui vitae mi vestibulum semper quis eget orci. Proin ullamcorper facilisis nisi. Fusce sapien dolor, bibendum sed tempus sed, semper pellentesque nulla. Sed sed tortor gravida, malesuada neque eu, molestie enim. Suspendisse eu diam et arcu pharetra ultricies vitae eget velit. Cras lacus turpis, vestibulum ut placerat sed, convallis sed tortor. Sed in posuere felis, et faucibus ligula. Morbi rhoncus neque quis lacus tristique, sed sodales diam volutpat. Nulla sit amet tellus risus. Nunc pellentesque malesuada interdum.

            Mauris vitae augue tempor, imperdiet elit vitae, imperdiet justo. Mauris pretium et nibh eu viverra. Morbi quis interdum augue, at elementum lacus. Aenean blandit felis lorem, nec consequat felis dignissim id. Vivamus vulputate est aliquet ipsum ultricies dictum sit amet nec elit. Sed placerat arcu purus, vitae imperdiet erat rhoncus at. Nunc sapien nibh, sodales ullamcorper sapien vel, commodo accumsan massa. Pellentesque ac orci vel urna aliquam vehicula eu ut purus. Fusce fermentum aliquet mauris, id mollis lorem lobortis vel. Phasellus eu mollis arcu.

            Maecenas ac ullamcorper lacus. Integer vitae velit ullamcorper, efficitur ante eget, hendrerit mi. Fusce eget lacinia tortor. Nunc efficitur lorem sem, ut ultrices sem tristique dapibus. Sed maximus, ligula sit amet imperdiet accumsan, libero quam eleifend nibh, ornare pellentesque nulla turpis id felis. Integer non eros mauris. Duis mollis ante sem, sed pretium nisi elementum non. Donec maximus libero ac blandit sagittis. Vestibulum a molestie ipsum. Nulla vitae risus sed diam finibus bibendum nec et felis. Proin pretium nisi a rhoncus interdum. Integer non metus nisl.

            Sed blandit sagittis mollis. Donec nec enim sed turpis ultricies sagittis. In a magna in orci posuere placerat. Donec sed sagittis tellus. Mauris ut libero purus. Morbi auctor mi at velit placerat, ac dictum nulla ornare. Aenean tempor enim eu nulla posuere mattis. Nunc ut nulla viverra, hendrerit diam vel, aliquam urna. Morbi maximus, libero non euismod lobortis, dui massa volutpat nisi, in finibus massa mauris luctus eros. Cras pretium venenatis diam, eget ultricies mi sollicitudin at.
        </p>
    </section>
    <hr style="width: 80%; text-align: center;" />
    <section style="border: 1px solid orange; width: 100%; height: 400px; text-align: center">
        <p>Imagens</p>
    </section>
    <hr style="width: 80%; text-align: center;" />
    <footer>
        <smal><p>teste footer</p></smal>
    </footer>
</div>

<script>
    var Nome_Grafico = "Grafico Pizza";
    var TipoGrafico = "pie";

</script>
